In [2]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census

# Census API Key
from localenv import api_key
c = Census(api_key, year=2013)

In [3]:
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E",
                          "B23025_005E"), {'for': 'state:*'})

census_data

[{'B01002_001E': 38.1,
  'B01003_001E': 4799277.0,
  'B17001_002E': 870631.0,
  'B19013_001E': 43253.0,
  'B19301_001E': 23680.0,
  'B23025_005E': 241930.0,
  'NAME': 'Alabama',
  'state': '01'},
 {'B01002_001E': 33.6,
  'B01003_001E': 720316.0,
  'B17001_002E': 69514.0,
  'B19013_001E': 70760.0,
  'B19301_001E': 32651.0,
  'B23025_005E': 32939.0,
  'NAME': 'Alaska',
  'state': '02'},
 {'B01002_001E': 36.3,
  'B01003_001E': 6479703.0,
  'B17001_002E': 1131901.0,
  'B19013_001E': 49774.0,
  'B19301_001E': 25358.0,
  'B23025_005E': 316360.0,
  'NAME': 'Arizona',
  'state': '04'},
 {'B01002_001E': 37.5,
  'B01003_001E': 2933369.0,
  'B17001_002E': 547328.0,
  'B19013_001E': 40768.0,
  'B19301_001E': 22170.0,
  'B23025_005E': 121235.0,
  'NAME': 'Arkansas',
  'state': '05'},
 {'B01002_001E': 35.4,
  'B01003_001E': 37659181.0,
  'B17001_002E': 5885417.0,
  'B19013_001E': 61094.0,
  'B19301_001E': 29527.0,
  'B23025_005E': 2168665.0,
  'NAME': 'California',
  'state': '06'},
 {'B01002_001E': 36.1,
  'B01003_001E': 5119329.0,
  'B17001_002E': 660874.0,
  'B19013_001E': 58433.0,
  'B19301_001E': 31109.0,
  'B23025_005E': 231741.0,
  'NAME': 'Colorado',
  'state': '08'},
 {'B01002_001E': 40.2,
  'B01003_001E': 3583561.0,
  'B17001_002E': 354348.0,
  'B19013_001E': 69461.0,
  'B19301_001E': 37892.0,
  'B23025_005E': 190709.0,
  'NAME': 'Connecticut',
  'state': '09'},
 {'B01002_001E': 38.9,
  'B01003_001E': 908446.0,
  'B17001_002E': 103633.0,
  'B19013_001E': 59878.0,
  'B19301_001E': 29819.0,
  'B23025_005E': 41207.0,
  'NAME': 'Delaware',
  'state': '10'},
 {'B01002_001E': 33.8,
  'B01003_001E': 619371.0,
  'B17001_002E': 109200.0,
  'B19013_001E': 65830.0,
  'B19301_001E': 45290.0,
  'B23025_005E': 38994.0,
  'NAME': 'District of Columbia',
  'state': '11'},
 {'B01002_001E': 41.0,
  'B01003_001E': 19091156.0,
  'B17001_002E': 3052807.0,
  'B19013_001E': 46956.0,
  'B19301_001E': 26236.0,
  'B23025_005E': 1096028.0,
  'NAME': 'Florida',
  'state': '12'},
 {'B01002_001E': 35.6,
  'B01003_001E': 9810417.0,
  'B17001_002E': 1736680.0,
  'B19013_001E': 49179.0,
  'B19301_001E': 25182.0,
  'B23025_005E': 544802.0,
  'NAME': 'Georgia',
  'state': '13'},
 {'B01002_001E': 38.3,
  'B01003_001E': 1376298.0,
  'B17001_002E': 149531.0,
  'B19013_001E': 67402.0,
  'B19301_001E': 29305.0,
  'B23025_005E': 48748.0,
  'NAME': 'Hawaii',
  'state': '15'},
 {'B01002_001E': 34.9,
  'B01003_001E': 1583364.0,
  'B17001_002E': 240298.0,
  'B19013_001E': 46767.0,
  'B19301_001E': 22568.0,
  'B23025_005E': 67189.0,
  'NAME': 'Idaho',
  'state': '16'},
 {'B01002_001E': 36.8,
  'B01003_001E': 12848554.0,
  'B17001_002E': 1772333.0,
  'B19013_001E': 56797.0,
  'B19301_001E': 29666.0,
  'B23025_005E': 700616.0,
  'NAME': 'Illinois',
  'state': '17'},
 {'B01002_001E': 37.1,
  'B01003_001E': 6514861.0,
  'B17001_002E': 969881.0,
  'B19013_001E': 48248.0,
  'B19301_001E': 24635.0,
  'B23025_005E': 315476.0,
  'NAME': 'Indiana',
  'state': '18'},
 {'B01002_001E': 38.1,
  'B01003_001E': 3062553.0,
  'B17001_002E': 367414.0,
  'B19013_001E': 51843.0,
  'B19301_001E': 27027.0,
  'B23025_005E': 94913.0,
  'NAME': 'Iowa',
  'state': '19'},
 {'B01002_001E': 36.0,
  'B01003_001E': 2868107.0,
  'B17001_002E': 382820.0,
  'B19013_001E': 51332.0,
  'B19301_001E': 26929.0,
  'B23025_005E': 104341.0,
  'NAME': 'Kansas',
  'state': '20'},
 {'B01002_001E': 38.2,
  'B01003_001E': 4361333.0,
  'B17001_002E': 796202.0,
  'B19013_001E': 43036.0,
  'B19301_001E': 23462.0,
  'B23025_005E': 201987.0,
  'NAME': 'Kentucky',
  'state': '21'},
 {'B01002_001E': 36.0,
  'B01003_001E': 4567968.0,
  'B17001_002E': 846780.0,
  'B19013_001E': 44874.0,
  'B19301_001E': 24442.0,
  'B23025_005E': 192166.0,
  'NAME': 'Louisiana',
  'state': '22'},
 {'B01002_001E': 43.2,
  'B01003_001E': 1328320.0,
  'B17001_002E': 175624.0,
  'B19013_001E': 48453.0,
  'B19301_001E': 26824.0,
  'B23025_005E': 53866.0,
  'NAME': 'Maine',
  'state': '23'},
 {'B01002_001E': 38.0,
  'B01003_001E': 5834299.0,
  'B17001_002E': 558329.0,
  'B19013_001E': 73538.0,
  'B19301_001E': 36354.0,
  'B23025_005E': 260567.0,
  'NAME': 'Maryland',
  'state': '24'},
 {'B01002_001E': 39.2,
  'B01003_001E': 6605058.0,
  'B17001_002E': 725351.0,
  'B19013_001E': 66866.0,
  'B19301_001E': 35763.0,
  'B23025_005E': 322730.0,
  'NAME': 'Massachusetts',
  'state': '25'},
 {'B01002_001E': 39.1,
  'B01003_001E': 9886095.0,
  'B17001_002E': 1625982.0,
  'B19013_001E': 48411.0,
  'B19301_001E': 25681.0,
  'B23025_005E': 616469.0,
  'NAME': 'Michigan',
  'state': '26'},
 {'B01002_001E': 37.6,
  'B01003_001E': 5347740.0,
  'B17001_002E': 598391.0,
  'B19013_001E': 59836.0,
  'B19301_001E': 30913.0,
  'B23025_005E': 210815.0,
  'NAME': 'Minnesota',
  'state': '27'},
 {'B01002_001E': 36.2,
  'B01003_001E': 2976872.0,
  'B17001_002E': 653321.0,
  'B19013_001E': 39031.0,
  'B19301_001E': 20618.0,
  'B23025_005E': 149148.0,
  'NAME': 'Mississippi',
  'state': '28'},
 {'B01002_001E': 38.0,
  'B01003_001E': 6007182.0,
  'B17001_002E': 900929.0,
  'B19013_001E': 47380.0,
  'B19301_001E': 25649.0,
  'B23025_005E': 267644.0,
  'NAME': 'Missouri',
  'state': '29'},
 {'B01002_001E': 39.9,
  'B01003_001E': 998554.0,
  'B17001_002E': 148528.0,
  'B19013_001E': 46230.0,
  'B19301_001E': 25373.0,
  'B23025_005E': 37702.0,
  'NAME': 'Montana',
  'state': '30'},
 {'B01002_001E': 36.3,
  'B01003_001E': 1841625.0,
  'B17001_002E': 228789.0,
  'B19013_001E': 51672.0,
  'B19301_001E': 26899.0,
  'B23025_005E': 57525.0,
  'NAME': 'Nebraska',
  'state': '31'},
 {'B01002_001E': 36.6,
  'B01003_001E': 2730066.0,
  'B17001_002E': 403314.0,
  'B19013_001E': 52800.0,
  'B19301_001E': 26589.0,
  'B23025_005E': 175142.0,
  'NAME': 'Nevada',
  'state': '32'},
 {'B01002_001E': 41.5,
  'B01003_001E': 1319171.0,
  'B17001_002E': 110859.0,
  'B19013_001E': 64916.0,
  'B19301_001E': 33134.0,
  'B23025_005E': 51670.0,
  'NAME': 'New Hampshire',
  'state': '33'},
 {'B01002_001E': 39.1,
  'B01003_001E': 8832406.0,
  'B17001_002E': 900583.0,
  'B19013_001E': 71629.0,
  'B19301_001E': 36027.0,
  'B23025_005E': 472094.0,
  'NAME': 'New Jersey',
  'state': '34'},
 {'B01002_001E': 36.7,
  'B01003_001E': 2069706.0,
  'B17001_002E': 413801.0,
  'B19013_001E': 44927.0,
  'B19301_001E': 23763.0,
  'B23025_005E': 94111.0,
  'NAME': 'New Mexico',
  'state': '35'},
 {'B01002_001E': 38.1,
  'B01003_001E': 19487053.0,
  'B17001_002E': 2903982.0,
  'B19013_001E': 58003.0,
  'B19301_001E': 32382.0,
  'B23025_005E': 921607.0,
  'NAME': 'New York',
  'state': '36'},
 {'B01002_001E': 37.6,
  'B01003_001E': 9651380.0,
  'B17001_002E': 1643389.0,
  'B19013_001E': 46334.0,
  'B19301_001E': 25284.0,
  'B23025_005E': 527430.0,
  'NAME': 'North Carolina',
  'state': '37'},
 {'B01002_001E': 36.4,
  'B01003_001E': 689781.0,
  'B17001_002E': 79433.0,
  'B19013_001E': 53741.0,
  'B19301_001E': 29732.0,
  'B23025_005E': 12617.0,
  'NAME': 'North Dakota',
  'state': '38'},
 {'B01002_001E': 39.0,
  'B01003_001E': 11549590.0,
  'B17001_002E': 1773853.0,
  'B19013_001E': 48308.0,
  'B19301_001E': 26046.0,
  'B23025_005E': 582953.0,
  'NAME': 'Ohio',
  'state': '39'},
 {'B01002_001E': 36.2,
  'B01003_001E': 3785742.0,
  'B17001_002E': 618683.0,
  'B19013_001E': 45339.0,
  'B19301_001E': 24208.0,
  'B23025_005E': 127842.0,
  'NAME': 'Oklahoma',
  'state': '40'},
 {'B01002_001E': 38.7,
  'B01003_001E': 3868721.0,
  'B17001_002E': 614778.0,
  'B19013_001E': 50229.0,
  'B19301_001E': 26809.0,
  'B23025_005E': 221191.0,
  'NAME': 'Oregon',
  'state': '41'},
 {'B01002_001E': 40.3,
  'B01003_001E': 12731381.0,
  'B17001_002E': 1638820.0,
  'B19013_001E': 52548.0,
  'B19301_001E': 28502.0,
  'B23025_005E': 581533.0,
  'NAME': 'Pennsylvania',
  'state': '42'},
 {'B01002_001E': 39.6,
  'B01003_001E': 1051695.0,
  'B17001_002E': 137244.0,
  'B19013_001E': 56361.0,
  'B19301_001E': 30469.0,
  'B23025_005E': 56125.0,
  'NAME': 'Rhode Island',
  'state': '44'},
 {'B01002_001E': 38.1,
  'B01003_001E': 4679602.0,
  'B17001_002E': 820308.0,
  'B19013_001E': 44779.0,
  'B19301_001E': 23943.0,
  'B23025_005E': 258444.0,
  'NAME': 'South Carolina',
  'state': '45'},
 {'B01002_001E': 36.9,
  'B01003_001E': 825198.0,
  'B17001_002E': 112086.0,
  'B19013_001E': 49495.0,
  'B19301_001E': 25740.0,
  'B23025_005E': 22250.0,
  'NAME': 'South Dakota',
  'state': '46'},
 {'B01002_001E': 38.2,
  'B01003_001E': 6402387.0,
  'B17001_002E': 1101732.0,
  'B19013_001E': 44298.0,
  'B19301_001E': 24409.0,
  'B23025_005E': 316682.0,
  'NAME': 'Tennessee',
  'state': '47'},
 {'B01002_001E': 33.8,
  'B01003_001E': 25639373.0,
  'B17001_002E': 4416829.0,
  'B19013_001E': 51900.0,
  'B19301_001E': 26019.0,
  'B23025_005E': 1020132.0,
  'NAME': 'Texas',
  'state': '48'},
 {'B01002_001E': 29.6,
  'B01003_001E': 2813673.0,
  'B17001_002E': 350205.0,
  'B19013_001E': 58821.0,
  'B19301_001E': 23873.0,
  'B23025_005E': 101449.0,
  'NAME': 'Utah',
  'state': '49'},
 {'B01002_001E': 42.0,
  'B01003_001E': 625904.0,
  'B17001_002E': 70873.0,
  'B19013_001E': 54267.0,
  'B19301_001E': 29167.0,
  'B23025_005E': 23546.0,
  'NAME': 'Vermont',
  'state': '50'},
 {'B01002_001E': 37.5,
  'B01003_001E': 8100653.0,
  'B17001_002E': 887595.0,
  'B19013_001E': 63907.0,
  'B19301_001E': 33493.0,
  'B23025_005E': 303129.0,
  'NAME': 'Virginia',
  'state': '51'},
 {'B01002_001E': 37.3,
  'B01003_001E': 6819579.0,
  'B17001_002E': 893211.0,
  'B19013_001E': 59478.0,
  'B19301_001E': 30742.0,
  'B23025_005E': 327155.0,
  'NAME': 'Washington',
  'state': '53'},
 {'B01002_001E': 41.5,
  'B01003_001E': 1853619.0,
  'B17001_002E': 321546.0,
  'B19013_001E': 41043.0,
  'B19301_001E': 22966.0,
  'B23025_005E': 69351.0,
  'NAME': 'West Virginia',
  'state': '54'},
 {'B01002_001E': 38.7,
  'B01003_001E': 5706871.0,
  'B17001_002E': 723730.0,
  'B19013_001E': 52413.0,
  'B19301_001E': 27523.0,
  'B23025_005E': 239464.0,
  'NAME': 'Wisconsin',
  'state': '55'},
 {'B01002_001E': 36.8,
  'B01003_001E': 570134.0,
  'B17001_002E': 63743.0,
  'B19013_001E': 57406.0,
  'B19301_001E': 28902.0,
  'B23025_005E': 16760.0,
  'NAME': 'Wyoming',
  'state': '56'},
 {'B01002_001E': 37.5,
  'B01003_001E': 3682966.0,
  'B17001_002E': 1644128.0,
  'B19013_001E': 19624.0,
  'B19301_001E': 11068.0,
  'B23025_005E': 247824.0,
  'NAME': 'Puerto Rico',
  'state': '72'}]

In [5]:
census_pd = pd.DataFrame(census_data)
census_pd.head()

,B01002_001E,B01003_001E,B17001_002E,B19013_001E,B19301_001E,B23025_005E,NAME,state
0,38.1,4799277.0,870631.0,43253.0,23680.0,241930.0,Alabama,01
1,33.6,720316.0,69514.0,70760.0,32651.0,32939.0,Alaska,02
2,36.3,6479703.0,1131901.0,49774.0,25358.0,316360.0,Arizona,04
3,37.5,2933369.0,547328.0,40768.0,22170.0,121235.0,Arkansas,05
4,35.4,37659181.0,5885417.0,61094.0,29527.0,2168665.0,California,06

In [4]:
# Run Census Search to retrieve data on all states
# Note the addition of "B23025_005E" for unemployment count
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E",
                          "B23025_005E"), {'for': 'state:*'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_005E": "Unemployment Count",
                                      "NAME": "Name", "state": "State"})

# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)

# Add in Employment Rate (Employment Count / Population)
census_pd["Unemployment Rate"] = 100 * \
    census_pd["Unemployment Count"].astype(
        int) / census_pd["Population"].astype(int)

# Final DataFrame
census_pd = census_pd[["State", "Name", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Poverty Rate", "Unemployment Rate"]]

census_pd.head()

,State,Name,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Rate
0,01,Alabama,4799277.0,38.1,43253.0,23680.0,870631.0,18.140878,5.040968
1,02,Alaska,720316.0,33.6,70760.0,32651.0,69514.0,9.650487,4.572854
2,04,Arizona,6479703.0,36.3,49774.0,25358.0,1131901.0,17.468409,4.882323
3,05,Arkansas,2933369.0,37.5,40768.0,22170.0,547328.0,18.658682,4.132961
4,06,California,37659181.0,35.4,61094.0,29527.0,5885417.0,15.628107,5.758662

In [5]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
census_pd.to_csv("census_data_states.csv", encoding="utf-8", index=False)