In [5]:
#import modules
import csv
import pandas as pd
import numpy as np

In [6]:
#read in csv

students_file = pd.read_csv('students_complete.csv')
schools_file = pd.read_csv('schools_complete.csv')

students_file.head()

,Student ID,name,gender,grade,school,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [7]:

schools_file

    School ID                   name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [8]:
# District Summary
# Create a high level snapshot (in table form) of the district's key metrics, including:

#Total Schools
num_schools = schools_file["name"].nunique()
num_schools

15

In [9]:
#Total Students
num_students = students_file["name"].nunique()
num_students

32715

In [10]:
#Total Budget
total_budget = schools_file["budget"].sum()
total_budget = "$" + str(total_budget)

In [11]:
#Average Math Score
avg_math_score = round(students_file["math_score"].mean(),2)
avg_math_score

78.99

In [12]:
#Average Reading Score
avg_rdg_score = round(students_file["reading_score"].mean(),2)
avg_rdg_score

81.88

In [13]:
#% Passing Math

pass_math = len(students_file[students_file["math_score"] > 70])/num_students*100
pass_math = round(pass_math,2)
pass_math

#pass_math_perc = (pass_math['name'])/num_students * 100, 2)
#pass_math_perc

86.68

In [14]:
#% Passing Reading
pass_read = students_file[students_file["reading_score"] > 70].count()

pass_read_perc = round(pass_read['name']/num_students * 100, 2)
pass_read_perc

99.34

In [15]:
#Overall Passing Rate (Average of the above two)

avg_overall = (pass_math + pass_read_perc)/2
avg_overall

93.01

In [16]:
# District Summary table
district_summary = pd.DataFrame({"Total Schools": [num_schools],
"Total Students": [num_students],
"Total Budget": [total_budget],
"Average Math Score": [avg_math_score],
"Average Reading Score": [avg_rdg_score],
"% Passing Math": [pass_math],
"% Passing Reading": [pass_read_perc],
"Overall Passing Rate (Average of the above two)": [avg_overall]})

district_summary

,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Overall Passing Rate (Average of the above two),Total Budget,Total Schools,Total Students
0,86.68,99.34,78.99,81.88,93.01,$24649428,15,32715

In [18]:
#School Summary

#Create an overview table that summarizes key metrics about each school, including:
#School Name
merged_df = pd.merge(students_file, schools_file, how = 'left', left_on="school", right_on = "name")
merged_df.head(100)

grouped_df = merged_df.groupby('school')
#print(type(grouped_df))

grouped_df.count().head()

,Student ID,name_x,gender,grade,reading_score,math_score,School ID,name_y,type,size,budget
school,,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468

In [19]:
#School Type

#set index for school_file
new_schools_file = schools_file.set_index('name')
new_schools_file

                       School ID      type  size   budget
name
Huang High School              0  District  2917  1910635
Figueroa High School           1  District  2949  1884411
Shelton High School            2   Charter  1761  1056600
Hernandez High School          3  District  4635  3022020
Griffin High School            4   Charter  1468   917500
Wilson High School             5   Charter  2283  1319574
Cabrera High School            6   Charter  1858  1081356
Bailey High School             7  District  4976  3124928
Holden High School             8   Charter   427   248087
Pena High School               9   Charter   962   585858
Wright High School            10   Charter  1800  1049400
Rodriguez High School         11  District  3999  2547363
Johnson High School           12  District  4761  3094650
Ford High School              13  District  2739  1763916
Thomas High School            14   Charter  1635  1043130

In [20]:
#School Type
#Total Students
num_students = students_file["school"].value_counts()
num_students.head()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Name: school, dtype: int64

In [21]:
#Total School Budget
school_budget = new_schools_file["budget"]
school_budget

name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [22]:
#Per Student Budget

new_schools_file["budget per student"] = new_schools_file["budget"]/new_schools_file["size"]
new_schools_file.head()

                       School ID      type  size   budget  budget per student
name
Huang High School              0  District  2917  1910635               655.0
Figueroa High School           1  District  2949  1884411               639.0
Shelton High School            2   Charter  1761  1056600               600.0
Hernandez High School          3  District  4635  3022020               652.0
Griffin High School            4   Charter  1468   917500               625.0

In [23]:
#Average Math Score
grouped_df_avg_math = round(grouped_df['math_score'].mean(), 2)
grouped_df_avg_math.head()

school
Bailey High School      77.05
Cabrera High School     83.06
Figueroa High School    76.71
Ford High School        77.10
Griffin High School     83.35
Name: math_score, dtype: float64

In [ ]:
#Average Reading Score
grouped_df_avg_read = round(grouped_df['reading_score'].mean(), 2)
grouped_df_avg_read.head()

In [ ]:
#% Passing Math

stu_pass_math = students_file[students_file["math_score"] > 70]
math_groupby_df = stu_pass_math.groupby('school')
math_groupby_df
num_pass_math = math_groupby_df['math_score'].count()
new_schools_file["# pass math"] = num_pass_math
new_schools_file["% pass math"] = round((new_schools_file["# pass math"]/new_schools_file["size"])*100, 2)
new_schools_file.head()

In [ ]:
#% Passing Reading
stu_pass_read = students_file[students_file["reading_score"] > 70]
read_groupby_df = stu_pass_read.groupby('school')
read_groupby_df
num_pass_read = read_groupby_df['reading_score'].count()
new_schools_file["# pass reading"] = num_pass_read
new_schools_file["% pass reading"] = round((new_schools_file["# pass reading"]/new_schools_file["size"])*100, 2)
new_schools_file.head()

In [ ]:
#Overall Passing Rate (Average of the above two)

new_schools_file["overall % passing rate"] = round((new_schools_file["% pass math"] + new_schools_file["% pass reading"])/2, 2)
new_schools_file.head()

In [ ]:
# School Summary Table 

school_summary_df = pd.DataFrame({
    "Type": new_schools_file['type'],
    "Total Students": new_schools_file['size'],
    "Total School Budget": new_schools_file['budget'],
    "Per Student Budget": new_schools_file["budget per student"],
    "Average Math Score": grouped_df_avg_math,
    "Average Reading Score": grouped_df_avg_read,
    "% Passing Math": new_schools_file["% pass math"],
    "% Passing Reading": new_schools_file["% pass reading"],
    "Overall % Passing Rate": new_schools_file["overall % passing rate"]
})

school_summary_df.head()

In [ ]:
# Top Performing Schools (By Passing Rate)
top_schools = school_summary_df.sort_values(by='Overall % Passing Rate',ascending=False)
top_schools.head(5)

In [ ]:
# Bottom Performing Schools (By Passing Rate) 
bottom_schools = school_summary_df.sort_values(by='Overall % Passing Rate',ascending=True)
bottom_schools.head(5)

In [ ]:
# Math Scores by Grade

#Create a table that lists the average Math Score for students of 
#each grade level (9th, 10th, 11th, 12th) at each school.

groupedby_grade = students_file.groupby(['school', 'grade'])
math_score_by_grade = round(groupedby_grade['math_score'].mean(),2)
math_score_by_grade.head(10)

In [ ]:
#Reading Scores by Grade

#Create a table that lists the average Reading Score for students of 
# each grade level (9th, 10th, 11th, 12th) at each school.

groupedby_grade = students_file.groupby(['school', 'grade'])
read_score_by_grade = round(groupedby_grade['reading_score'].mean(),2)
read_score_by_grade.head(10)

In [ ]:
#Scores by School Spending

#Create a table that breaks down school performances based on average Spending Ranges (Per Student). 
#Use 4 reasonable bins to group school spending. Include in the table each of the following:
school_summary_df.describe()

# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# Overall Passing Rate (Average of the above two)

In [ ]:
# create 4 bins
bins = [575, 600, 625, 650,675]
bin_names = ['575-600', '600-625', '625-650', '650-675']

In [ ]:
# place per student budget into bins
pd.cut(school_summary_df["Per Student Budget"], bins, labels=bin_names)

In [ ]:
# get just the columns we want
school_summary_trim = pd.DataFrame(school_summary_df, columns=['Average Math Score',
                                                                'Average Reading Score',
                                                               '% Passing Math',
                                                               '% Passing Reading',
                                                                'Overall % Passing Rate'])
school_summary_trim

In [ ]:
# add bins to each school
school_summary_trim["Spending Ranges (per Student)"] = pd.cut(school_summary_df["Per Student Budget"], 
                                                            bins, labels=bin_names)

school_summary_trim

In [ ]:
spending_groups_trim = school_summary_trim.groupby('Spending Ranges (per Student)')

round(spending_groups_trim.mean(),2)

In [ ]:
# look at stats table for a good way to select bings
school_summary_df.describe()

In [ ]:
# Scores by School Size

# Repeat the above breakdown, but this time group schools based on a 
# reasonable approximation of school size (Small, Medium, Large).

# create 4 bins
school_bins = [0, 1500, 3500, 5000]
school_bin_names = ['Small (<1500)', 'Medium (1500-3500)', 'Large (3500-5000)']

In [ ]:
# get just the columns we want
school_summary_trim_2 = pd.DataFrame(school_summary_df, columns=['Average Math Score',
                                                                'Average Reading Score',
                                                               '% Passing Math',
                                                               '% Passing Reading',
                                                                'Overall % Passing Rate'])
school_summary_trim_2

In [ ]:
school_summary_trim_2["School Size"] = pd.cut(school_summary_df["Total Students"], school_bins, labels=school_bin_names)
school_summary_trim_2

In [ ]:
school_size_stats = school_summary_trim_2.groupby('School Size')

school_size_stats = round(school_size_stats.mean(),2)
school_size_stats

In [ ]:
# Scores by School Type

#Repeat the above breakdown, but this time group 
#schools based on school type (Charter vs. District).

#get columns we want
school_summary_trim_3 = pd.DataFrame(school_summary_df, columns=['Average Math Score',
                                                                'Average Reading Score',
                                                               '% Passing Math',
                                                               '% Passing Reading',
                                                                'Overall % Passing Rate',
                                                                'Type'])
school_summary_trim_3

In [ ]:
school_type_stats = school_summary_trim_3.groupby('Type')

round(school_type_stats.mean(),2)